.DS_Store
Desafios/labels.tsv
Desafios/vectors.tsv
Desafios/songs_dataset/adele.txt
Desafios/songs_dataset/al-green.txt
Desafios/songs_dataset/alicia-keys.txt
Desafios/songs_dataset/amy-winehouse.txt
Desafios/songs_dataset/beatles.txt
Desafios/songs_dataset/bieber.txt
Desafios/songs_dataset/bjork.txt
Desafios/songs_dataset/blink-182.txt
Desafios/songs_dataset/bob-dylan.txt
Desafios/songs_dataset/bob-marley.txt
Desafios/songs_dataset/britney-spears.txt
Desafios/songs_dataset/bruce-springsteen.txt
Desafios/songs_dataset/bruno-mars.txt
Desafios/songs_dataset/cake.txt
Desafios/songs_dataset/dickinson.txt
Desafios/songs_dataset/disney.txt
Desafios/songs_dataset/dj-khaled.txt
Desafios/songs_dataset/dolly-parton.txt
Desafios/songs_dataset/dr-seuss.txt
Desafios/songs_dataset/drake.txt
Desafios/songs_dataset/eminem.txt
Desafios/songs_dataset/janisjoplin.txt
Desafios/songs_dataset/jimi-hendrix.txt
Desafios/songs_dataset/johnny-cash.txt
Desafios/songs_dataset/joni-mitchell.txt
Desafios/songs_dataset/Kanye_West.txt
Desafios/songs_dataset/kanye-west.txt
Desafios/songs_dataset/kanye.txt
Desafios/songs_dataset/lady-gaga.txt
Desafios/songs_dataset/leonard-cohen.txt
Desafios/songs_dataset/Lil_Wayne.txt
Desafios/songs_dataset/lil-wayne.txt
Desafios/songs_dataset/lin-manuel-miranda.txt
Desafios/songs_dataset/lorde.txt
Desafios/songs_dataset/ludacris.txt
Desafios/songs_dataset/michael-jackson.txt
Desafios/songs_dataset/missy-elliott.txt
Desafios/songs_dataset/nickelback.txt
Desafios/songs_dataset/nicki-minaj.txt
Desafios/songs_dataset/nirvana.txt
Desafios/songs_dataset/notorious_big.txt
Desafios/songs_dataset/notorious-big.txt
Desafios/songs_dataset/nursery_rhymes.txt
Desafios/songs_dataset/patti-smith.txt
Desafios/songs_dataset/paul-simon.txt
Desafios/songs_dataset/prince.txt
Desafios/songs_dataset/r-kelly.txt
Desafios/songs_dataset/radiohead.txt
Desafios/songs_dataset/rihanna.txt
Desafios/songs_dataset/songs_dataset.zip
Desafios/my_model.keras
Clase 4/full_corpus.csv
